In [1]:
import redframes as rf

df = rf.DataFrame({
    "foo": range(10),
    "bar": [1, 3.2, 4.5, 2, -1, 30, None, 1.1, 1.1, 9],
    "baz": ["A", "A", None, "B", "B", "A", "B", "C", "C", "A"],
    "jaz": [
        "1::1",
        "2::2",
        "3:3",
        "4::4",
        "5::5",
        "6::7",
        "7::8",
        "8::9",
        "9::0",
        "0::-1",
    ],
    "raz": [1, 2, 3, None, None, None, 9, 9, None, None],
})

In [ ]:
df.accumulate(column="foo", into="foo")

In [ ]:
df.accumulate(column="foo", into="bar")

In [ ]:
df.combine(["foo", "bar"], into="foo")

In [ ]:
df.combine(["foo", "bar"], into="baz")

In [ ]:
df.combine(["foo", "bar"], into="foo", drop=False)

In [ ]:
df.gather(into=("foo", "foo"))

In [ ]:
df.gather(into=("foo", "value"))

In [ ]:
df.gather(into=("variable", "foo"))

In [ ]:
df.gather(["foo", "bar"], into=("raz", "baz"))

In [ ]:
df.gather(["foo", "bar", "jaz", "raz"])

In [ ]:
df.rank("bar", into="bar", descending=True)

In [ ]:
df.rank("bar", into="baz", descending=True)

In [ ]:
df.rename({"foo": "oof", "bar": "oof"})

In [ ]:
df.rename({"foo": "oof", "bar": "oof"})

In [ ]:
df.split("jaz", into=["jaz", "paz"], sep="::")

In [ ]:
df.split("jaz", into=["jaz", "foo"], sep="::")

In [ ]:
df.split("jaz", into=["paz", "paz"], sep="::")

In [2]:
df.gather().spread("variable", "variable")

KeyError: 'column and using must be unique'

In [3]:
df

   foo   bar   baz    jaz  raz
0    0   1.0     A   1::1  1.0
1    1   3.2     A   2::2  2.0
2    2   4.5  None    3:3  3.0
3    3   2.0     B   4::4  NaN
4    4  -1.0     B   5::5  NaN
5    5  30.0     A   6::7  NaN
6    6   NaN     B   7::8  9.0
7    7   1.1     C   8::9  9.0
8    8   1.1     C   9::0  NaN
9    9   9.0     A  0::-1  NaN

In [4]:
df.summarize({"bar": ("foo", rf.stat.max)})

   bar
0    9