In [ ]:
import redframes as rf

df = rf.DataFrame({"foo": [1, 2, 3, 4, 10, 1, 3], "bar": ["A", "A", "B", "A", "B", "B", "A"]})

df

In [17]:
df.accumulate("foo", into="cumsum").mutate({"pct": lambda row: row["foo"] / rf.stat.sum(df["foo"])})

   foo bar  cumsum       pct
0    1   A       1  0.041667
1    2   A       3  0.083333
2    3   B       6  0.125000
3    4   A      10  0.166667
4   10   B      20  0.416667
5    1   B      21  0.041667
6    3   A      24  0.125000

In [ ]:
df.accumulate("foo", into="bar")

In [ ]:
df.accumulate("foo", into="baz")

In [ ]:
df.accumulate("oof", into="foo")

In [1]:
import redframes as rf

df = rf.DataFrame({"foo": [1, 2, 3, 4, 10, 1, 3], "bar": ["A", "A", "B", "A", "B", "B", "A"]})

df.group(["bar"]).accumulate("foo", into="foo")

   foo bar
0    1   A
1    3   A
2    3   B
3    7   A
4   13   B
5   14   B
6   10   A

In [ ]:
import pandas as pd

df = pd.DataFrame({"foo": [1, 2, 3, 4, 10, 1, 3], "bar": ["A", "A", "B", "A", "B", "B", "A"]})
df = df.groupby(["bar"])

df["foo"].cumsum()