In [1]:
import redframes as rf

df = rf.DataFrame({"foo": [1, 1, 1, 2, 2, 2], "bar": [1, 2, 3, 4, 5, 5]})

In [2]:
df

   foo  bar
0    1    1
1    1    2
2    1    3
3    2    4
4    2    5
5    2    5

In [3]:
df.dedupe()

   foo  bar
0    1    1
1    1    2
2    1    3
3    2    4
4    2    5

In [4]:
df.dedupe(["foo"])

   foo  bar
0    1    1
1    2    4

In [5]:
df.dedupe(["baz"])

KeyError: Index(['baz'], dtype='object')

In [8]:
df = rf.DataFrame({"foo": [1, 1, 1, 2, 2, 2], "bar": [1, 1, 3, 4, 5, 5], "baz": ["A", "A", "A", "A", "A", "A"]})

df.dedupe(["foo", "bar"])

   foo  bar baz
0    1    1   A
1    1    3   A
2    2    4   A
3    2    5   A

In [10]:
df

   foo  bar baz
0    1    1   A
1    1    1   A
2    1    3   A
3    2    4   A
4    2    5   A
5    2    5   A

In [16]:
columns = ["foo", "jaz"]
set(columns).difference(set(df.columns))

{'jaz'}

In [17]:
df = rf.DataFrame({"foo": [1, 1, 1, 2, 2, 2], "bar": [1, 1, 3, 4, 5, 5], "baz": ["A", "A", "A", "A", "A", "A"]})

In [19]:
df_start = df

In [21]:
df = df.dedupe()

In [22]:
df

   foo  bar baz
0    1    1   A
1    1    3   A
2    2    4   A
3    2    5   A

In [23]:
df_start

   foo  bar baz
0    1    1   A
1    1    1   A
2    1    3   A
3    2    4   A
4    2    5   A
5    2    5   A