In [1]:
import redframes as rf

In [2]:
df = rf.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

df

   foo  bar  baz
0    1    2    3
1    4    5    6

In [3]:
df = df.gather(["foo", "bar"], into=("variable", "value"))
df

   baz variable  value
0    3      foo      1
1    6      foo      4
2    3      bar      2
3    6      bar      5

In [4]:
df.spread("variable", "value")

   baz  bar  foo
0    3    2    1
1    6    5    4

In [27]:
import pandas as pd
import uuid


df = pd.DataFrame({
    'variable': ['foo', 'foo', 'bar', 'bar', 'baz', 'baz'],
    'value': [1, 4, 2, 5, 3, 6]
})

temp = uuid.uuid4().hex

df[temp] = df.groupby('variable').cumcount()

column = "variable"
using = "value"
index = [col for col in df.columns if col not in [column, using]]
df = pd.pivot_table(df, index=index, columns=[column], values=[using])  # type: ignore
df.columns = [col for col in df.columns.get_level_values(1)]  # type: ignore
df = df.reset_index().rename_axis(None, axis=0)
df = df.drop(temp, axis=1)
df

   bar  baz  foo
0    2    3    1
1    5    6    4