In [2]:
import redframes as rf

In [3]:
df = rf.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

df

   foo  bar  baz
0    1    2    3
1    4    5    6

In [4]:
df.gather()

  variable  value
0      foo      1
1      foo      4
2      bar      2
3      bar      5
4      baz      3
5      baz      6

In [5]:
df = df.gather(["foo", "bar"], into=("variable", "value"))
df

   baz variable  value
0    3      foo      1
1    6      foo      4
2    3      bar      2
3    6      bar      5

In [6]:
df.spread("variable", "value")

   baz  bar  foo
0    3    2    1
1    6    5    4

In [ ]:
df = rf.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

df

In [ ]:
df.gather(["foo", "bar", "baz"]).spread("variable", "value")

In [3]:
import redframes as rf

df = rf.DataFrame({
    'foo': [1, 5], 
    'bar': [2, 6], 
    'baz': [3, 7], 
    "jaz": [4, 8]
})

df.gather().spread("variable", "value")

   bar  baz  foo  jaz
0    2    3    1    4
1    6    7    5    8

In [ ]:
import pandas as pd

df = pd.DataFrame({
    'foo': [1, 4], 
    'bar': [2, 5], 
    'baz': [3, 6]
})

index = []
columns = df.columns
into = ("variable", "value")

df = pd.melt(
    df,
    id_vars=index,
    value_vars=columns,
    var_name=into[0],
    value_name=into[1],
)

df