In [1]:
import redframes as rf

In [2]:
df = rf.DataFrame({
    "foo": [1, 2, 3, 4],
    "bar": ["a", "b", "c", "d"],
    "baz": ["!", "@", "#", "$"]
})

df

   foo bar baz
0    1   a   !
1    2   b   @
2    3   c   #
3    4   d   $

In [ ]:
df.combine(["foo", "bar"], sep="::", into="jaz")

In [ ]:
df.combine(["foo", "bar", "baz"], sep="::", into="jaz")

In [3]:
df = df.combine(["foo", "bar", "baz"], sep="::", into="jaz")

df.split("jaz", sep="::", into=["foo", "bar", "baz"]) # need to remove this.

  foo bar baz
0   1   a   !
1   2   b   @
2   3   c   #
3   4   d   $

In [4]:
df

       jaz
0  1::a::!
1  2::b::@
2  3::c::#
3  4::d::$