In [ ]:
import redframes as rf

In [1]:
import redframes as rf
import numpy as np

df = rf.load("nfl.csv")

df.summarize({
    "mean_points": ("Points", rf.compute.mean),
    "min_points": ("Points", rf.compute.min)
})

   mean_points  min_points
0    82.421536        -1.5

In [3]:
df.group(["Position"]).summarize({"mean_points": ("Points", rf.compute.mean)})

  Position  mean_points
0        D   105.771875
1        K   120.750000
2       QB   137.157353
3       RB    85.497656
4       TE    42.502062
5       WR    69.894350

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("nfl.csv")

# df.summarize({
#     "points": ("Points", rf.compute.mean)
# })

# into_over_funcs = {
#     "points": ("Points", rf.compute.mean), 
#     "sum": ("Points", rf.compute.sum)
# }


# df.agg(sum=("Points", sum))
df.agg(**{"sum": ("Points", sum), "mean": ("Points", np.mean)})

# df.agg(**into_over_funcs)  # type: ignore

In [ ]:
df.agg(**{"sum": ("Points", sum)})

In [ ]:
df.take(-5)

In [4]:
(
    df
    .drop(["Rank", "ID", "VBD"])
    .filter(lambda row: row["Position"].isin(["QB", "RB", "TE", "WR"]))
    .group(["Position"])
    .take(10)
    .group(["Position"])
    .summarize({
        "mean_points": ("Points", rf.compute.mean),
    })
)

  Position  mean_points
0       QB       356.88
1       RB       258.90
2       TE       132.86
3       WR       212.09