In [ ]:
import redframes as rf

In [1]:
import redframes as rf
import numpy as np

df = rf.load("nfl.csv")

df.summarize({
    "mean_points": ("Points", rf.stat.mean),
    "min_points": ("Points", rf.compute.min)
})

   mean_points  min_points
0    82.421536        -1.5

In [3]:
df.group(["Position"]).summarize({"mean_points": ("Points", rf.compute.mean)})

  Position  mean_points
0        D   105.771875
1        K   120.750000
2       QB   137.157353
3       RB    85.497656
4       TE    42.502062
5       WR    69.894350

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("nfl.csv")

# df.summarize({
#     "points": ("Points", rf.compute.mean)
# })

# into_over_funcs = {
#     "points": ("Points", rf.compute.mean), 
#     "sum": ("Points", rf.compute.sum)
# }


# df.agg(sum=("Points", sum))
df.agg(**{"sum": ("Points", sum), "mean": ("Points", np.mean)})

# df.agg(**into_over_funcs)  # type: ignore

In [ ]:
df.agg(**{"sum": ("Points", sum)})

In [ ]:
df.take(-5)

In [4]:
(
    df
    .drop(["Rank", "ID", "VBD"])
    .filter(lambda row: row["Position"].isin(["QB", "RB", "TE", "WR"]))
    .group(["Position"])
    .take(10)
    .group(["Position"])
    .summarize({
        "mean_points": ("Points", rf.compute.mean),
    })
)

  Position  mean_points
0       QB       356.88
1       RB       258.90
2       TE       132.86
3       WR       212.09

In [2]:
import redframes as rf

df = rf.load("nfl.csv")
df

     Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0       1  12626     Henry    Derrick       RB  TEN   305.8  391.2         6
1       2  14802    Taylor   Jonathan       RB  IND   303.5  388.7        14
2       3  13128      Cook     Dalvin       RB  MIN   272.5  355.9         7
3       4  13608     Penny    Rashaad       RB  SEA   260.3  343.0        11
4       5  13404    Ekeler     Austin       RB  LAC   258.0  340.6         8
..    ...    ...       ...        ...      ...  ...     ...    ...       ...
529   578  13119     Dobbs     Joshua       QB  CLE     0.2 -106.3         9
530   588  14069     Stick     Easton       QB  LAC    -0.0 -106.4         8
531   589   9706    Daniel      Chase       QB  LAC    -0.1 -106.5         8
532   590  15694    Willis      Malik       QB  TEN    -0.8 -107.0         6
533   591  15035   Wolford       John       QB  LAR    -1.5 -107.5         7

[534 rows x 9 columns]

In [7]:
df.group(["Position"]).summarize({"count": ("Position", rf.compute.count)})

  Position  count
0        D     32
1        K     32
2       QB     68
3       RB    128
4       TE     97
5       WR    177

In [22]:
(
    df.combine(["First Name", "Last Name"], sep=" ", into="name")
    .filter(lambda row: 
        (row["Position"].isin(["RB", "WR"])) &
        (row["Bye Week"] == 6)
    )
    .sort(["Points"], reverse=True)
    .group(["Position"])
    .take(5)
    .mutate({"points_10": lambda row: row["Points"] * 10})
    # .group(["Position"])
    # .summarize({"avg_points": ("Points", rf.compute.mean)})
)

,Rank,ID,Position,Team,Points,VBD,Bye Week,name,points_10
0,1,12626,RB,TEN,305.8,391.2,6,Derrick Henry,3058.0
1,19,11675,WR,LVR,216.8,279.8,6,Davante Adams,2168.0
2,20,14073,RB,LVR,203.2,279.7,6,Josh Jacobs,2032.0
3,26,14797,RB,DET,192.4,268.4,6,D'Andre Swift,1924.0
4,44,11674,WR,HOU,159.6,222.6,6,Brandin Cooks,1596.0
5,53,11228,WR,TEN,147.4,198.9,6,Robert Woods,1474.0
6,56,13668,WR,DET,142.6,194.3,6,D.J. Chark,1426.0
7,104,15717,RB,HOU,140.9,153.1,6,Dameon Pierce,1409.0
8,74,15287,WR,DET,126.6,175.4,6,Amon-Ra St. Brown,1266.0
9,149,11182,RB,HOU,106.8,127.5,6,Rex Burkhead,1068.0

In [18]:
df

     Rank     ID Last Name First Name Position Team  Points    VBD  Bye Week
0       1  12626     Henry    Derrick       RB  TEN   305.8  391.2         6
1       2  14802    Taylor   Jonathan       RB  IND   303.5  388.7        14
2       3  13128      Cook     Dalvin       RB  MIN   272.5  355.9         7
3       4  13608     Penny    Rashaad       RB  SEA   260.3  343.0        11
4       5  13404    Ekeler     Austin       RB  LAC   258.0  340.6         8
..    ...    ...       ...        ...      ...  ...     ...    ...       ...
529   578  13119     Dobbs     Joshua       QB  CLE     0.2 -106.3         9
530   588  14069     Stick     Easton       QB  LAC    -0.0 -106.4         8
531   589   9706    Daniel      Chase       QB  LAC    -0.1 -106.5         8
532   590  15694    Willis      Malik       QB  TEN    -0.8 -107.0         6
533   591  15035   Wolford       John       QB  LAR    -1.5 -107.5         7

[534 rows x 9 columns]