In [2]:
import redframes as rf

In [5]:
df = rf.DataFrame({"foo": range(10), "bar": range(10), "baz": range(10)})

In [14]:
target = "bar"
percent = 0.2
rows = len(df)
split = int(rows * (1-percent) // 1)

In [ ]:
df = df.shuffle()

In [18]:
train = df._data.iloc[:split]

In [23]:
y_train = list(train[target])
X_train = train.drop(target, axis=1)
X_train = rf.wrap(X_train)
X_train

   foo  baz
0    4    4
1    6    6
2    5    5
3    1    1
4    2    2
5    3    3
6    7    7
7    8    8

In [19]:
test = df._data.iloc[split:]

In [26]:
y_test = list(test[target])
X_test = test.drop(target, axis=1).reset_index(drop=True)
X_test = rf.wrap(X_test)
X_test

   foo  baz
0    0    0
1    9    9

In [27]:
from typing import Any

def ttsplit(df: rf.DataFrame, target: str, percent: float = 0.2, shuffle: bool = True) -> tuple[rf.DataFrame, list[Any], rf.DataFrame, list[Any]]:
    rows = len(df)
    split = int(rows * (1-percent) // 1)
    if shuffle:
        df = df.shuffle()
    train = df._data.iloc[:split]
    test = df._data.iloc[split:]
    X_train = train.drop(target, axis=1)
    X_train = rf.wrap(X_train)
    y_train = list(train[target])
    X_test = test.drop(target, axis=1).reset_index(drop=True)
    X_test = rf.wrap(X_test)
    y_test = list(test[target])
    return X_train, y_train, X_test, y_test

In [29]:
X_train, y_train, X_test, y_test = rf.ttsplit(df, target="foo")

In [30]:
X_train

   bar  baz
0    1    1
1    5    5
2    9    9
3    3    3
4    7    7
5    8    8
6    0    0
7    2    2