In [ ]:
import redframes as rf

In [1]:
import redframes as rf

df = rf.DataFrame({
    "foo": ["1::!", "2:@", "3::#", "4::$"],
    "bar": ["a", "b", "c", "d"],
})

df

    foo bar
0  1::!   a
1   2:@   b
2  3::#   c
3  4::$   d

In [2]:
df.split("foo", into=["foo", "baz"], sep="::") # good

  bar  foo   baz
0   a    1     !
1   b  2:@  None
2   c    3     #
3   d    4     $

In [3]:
df.split("foo", into=["foo", "bar"], sep="::") # bad

ValueError: into columns argument is invalid, keys must be unique

In [4]:
df.split("foo", into=["foo", "bar"], sep="::", drop=False) # bad

ValueError: into columns argument is invalid, keys must be unique

In [11]:
df.split("foo", into=["foo", "baz"], sep="::")

  bar  foo   baz
0   a    1     !
1   b  2:@  None
2   c    3     #
3   d    4     $

In [ ]:
df = df.combine(["foo", "bar", "baz"], sep="::", into="jaz", drop=False)

df.split("jaz", sep="::", into=["foo", "bar", "baz"], drop=False)

In [ ]:
import redframes as rf

df = rf.DataFrame({
    "foo": [1, 2, 3, 4],
    "bar": ["a", "b", "c", "d"],
    "baz": ["!", "@", "#", "$"]
})

In [ ]:
df.combine(["foo", "bar"], into="baz")

In [ ]:
df.combine(["foo", "bar"], into="foo", drop=False)