In [2]:
import redframes as rf

In [ ]:
df = rf.DataFrame({"foo": [1, 2, 3, 4]})
df.accumulate("foo", into="cumsum")

In [ ]:
df1 = rf.DataFrame({"foo": [1, 2], "bar": ["A", "B"]})
df2 = rf.DataFrame({"bar": ["C", "D"], "foo": [3, 4], "baz": ["$", "@"]})
df1.append(df2)

In [ ]:
df = rf.DataFrame({"foo": [1, 2], "bar": ["A", "B"]})
df.combine(["bar", "foo"], into="baz", sep="::", drop=True)

In [3]:
df = rf.DataFrame({"foo": [1, 1, 2], "bar": ["A", "A", "A"]})
df.dedupe()
df.dedupe("foo")
df.dedupe(["foo", "bar"])

   foo bar
0    1   A
1    2   A

In [4]:
df = rf.DataFrame({"foo": [1, None, 3, None, 5, 6], "bar": [1, None, 3, 4, None, None]})
df.denix()
df.denix("bar")
df.denix(["foo", "bar"])

   foo  bar
0  1.0  1.0
1  3.0  3.0

In [5]:
df = rf.DataFrame({"foo": [1, 2], "bar": [3, 4], "baz": [5, 6]})
df.drop("baz")
df.drop(["foo", "baz"])

   bar
0    3
1    4

In [5]:
df = rf.DataFrame({"foo": [1, None, None, 2, None], "bar": [None, "A", None, "B", None]})
df.fill(constant=0)
# df.fill(direction="down")
# df.fill("foo", direction="down")
# df.fill(["foo"], direction="up")
# df.fill(["foo"], constant=0)

   foo bar
0  1.0   0
1  0.0   A
2  0.0   0
3  2.0   B
4  0.0   0