In [1]:
import redframes as rf

In [20]:
raw = rf.load("nfl.csv")

In [23]:
df = (
    raw
    .combine(["First Name", "Last Name"], into="name", sep=" ")
    .drop(["Rank", "ID"])
    .rename({
        "Position": "pos", 
        "Team": "team", 
        "Points": "points", 
        "Bye Week": "bye"
    })
    .select(["name", "pos", "team", "points", "bye"])
    .filter(lambda row: 
        (row["pos"].isin(["RB", "WR", "QB"])) &
        (row["points"] >= 100)
    )
    .sort(["team", "pos", "points"])
    .group(["team", "pos"])
    .take(1)
    .mutate({"pts_per_game": lambda row: round(row["points"] / 17, 1)})
    .drop("points")
    .group("team")
    .summarize({"mean_pts_per_game": ("pts_per_game", rf.stat.mean)})
    .sort("mean_pts_per_game", descending=True)
)

In [24]:
rf.unwrap(df)

   team  mean_pts_per_game
0   LAC          15.733333
1   MIN          15.066667
2   TEN          14.933333
3   SEA          14.300000
4   BUF          14.233333
5   TBB          14.133333
6   IND          14.100000
7   KCC          13.033333
8   BAL          12.600000
9   NOS          12.533333
10  CIN          12.500000
11  PHI          12.266667
12  GBP          12.200000
13  ARI          12.033333
14  LVR          11.933333
15  CHI          11.733333
16  CAR          11.500000
17  LAR          11.300000
18  SFO          11.300000
19  DAL          10.766667
20  NYG          10.550000
21  MIA          10.466667
22  HOU          10.200000
23  NEP           9.900000
24  PIT           9.333333
25  JAC           8.700000
26  DEN           8.633333
27  DET           8.600000
28  CLE           8.550000
29  NYJ           8.100000
30  WAS           8.033333
31  ATL           6.633333